* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.row {
  float: left;
}

body {
  /* width: 80%; */
  margin: auto;
  background-color: lightblue;
}

header {
  text-align: center;
  font-size: 50px;
  margin-bottom: 150px;
}

.container {
  width: 100%
}

.col {
  width: 450px;
  height: 500px;
  border: 1px solid black;
  margin-bottom: 50px;
  margin-right: 30px;
}

.uno {
  background-color: red;
}

.due {
  background-color: blue;
}

.tre {
  background-color: green;
}

.quattro {
  background-color: yellow;
}
