* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nerko One', cursive;
}

body {
  background-color: #2E8B57;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 20%;
  margin: 10px 2.5%;
  background-color: white;
}

.img_card img {
  padding top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  visibility: hidden;
}

.title {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #FF6347;
  text-shadow: 2px 2px #B22222;
}

p {
  color: #FF6347;
  font-size: 30px;
  margin-bottom: 20px;
  visibility: hidden;
}

.card {
  border: 1px solid black;
  background-image: url(../img/pattern.png);
  background-size: 200px;
  cursor: grab;
}

.text_card {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  text-shadow: 2px 2px #228B22;
}

.container {
  width: 50%;
  margin: auto;
}

.container h1 {
  text-transform: uppercase;
  text-align: center;
}

.card:hover .img_card img,
.card:hover .text_card p {
  visibility: visible;
}

.card:hover {
  background-image: none;
}
