* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1490px;
  height: 1300px;
  margin: auto;
  background-color: lightblue;
}

header {
  text-align: center;
  font-size: 50px;
  margin-bottom: 150px;
}

.container {
  margin: auto;
}

.row {
  height: 400px;
  width: 1490px;
  position: relative;
  background-color: lightblue;
  margin-bottom: 50px;
}

.card {
  width: 350px;
  height: 400px;
  background-color: red;
  border: 1px solid black;
}

.mid1 {
  background-color: blue;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 380px;
}

.mid2 {
  background-color: green;
  border: 1px solid black;
  position: absolute;
  top: 0;
  right: 380px;
}

.right {
  background-color: yellow;
  border: 1px solid black;
  position: absolute;
  top: 0;
  right: 0;
}
